<h1>TODO List</h1>
<div class="CreateSection">
  <input class="form-control" placeholder="Enter Task" type="text"
    [(ngModel)]="taskTitle" />
  <input class="form-control" placeholder="Enter the date" type="date"
    [(ngModel)]="taskDate" />
  <button class="btn btn-primary" (click)='createTask()'>Create Task</button>
</div>

<div class="ShowSection">
  <h4>TODO TASK</h4>
  <ul>
    <li *ngFor="let task of allTasks;let i=index">
      ID: {{task.id}} Title:{{task.title}} Date:{{task.date}}
      <button class="btn btn-danger" (click)="deleteTask(i)"> DELETE </button>
    </li>
  </ul>
</div>
